html{background-color:#59331D;
  height: 100%; 
  box-sizing:border-box;}
  body{position:relative; 
  margin:0; 
  min-height: 100%; 
  box-sizing:inherit;
padding-left:0px; 
padding-right:20px; 
padding-top: 90px; 
padding-bottom: 90px;}  
.coffeebar { display: flex; 
    flex-direction: rows; 
    justify-content: space-between; 
    margin-bottom:0px;
    position: absolute;
   right:0; 
   left:0; 
   top: 0;  
   padding-bottom: 0px; 
   padding-top: 10px; 
   padding-right:30px;
   padding-left: 0px;
  background-color: #D98555; 
    border-style: double; 
    border-color: white;  
  color: white; 
  font-family: lato 400 normal; 
  font-size: 22px; 
} 
.small-logo{ width:80px; 
height: auto;} 
.grid-container{display: grid; 
grid-template-columns: 50% 50%;} 
.fresh-brew{height:500px; 
width:600px;} 
.about{
color:#D98555 ; 
font-family:poppins 700 bold; 
text-align: center;} 
.us { color: white; 
text-align: left; 
line-height:1.6;}   
button{ background-color: black; 
color: white; 
border-radius: 50%; 
width: 100px; 
height:40px;  
font-family: lato 400 normal;
font-size: 15px;} 
.contact {display: flex; 
flex-direction:row;
justify-content: center; 
padding-top: 60px;}
footer{position: absolute;
  right:0; 
  left:0; 
  bottom: 0;  
  text-align: center;
  background-color: #D98555; 
    border-style: double; 
    border-color: white; 
   padding: 0px; 
  color: white; 
  font-family: lato 400 normal; 
  font-size: 10px;} 
.logo{ 
width:10px; 
height:10px; 
  margin:5px;} 
a{text-decoration: none;} 
@media all and (min-width:600px) and (max-width:800px) { .coffeebar {background-color:rgb(0, 0, 128);
  border-style: none;}
  footer{background-color:rgb(0, 0, 128);
  }} 
@media all and (min-width: 900px) and (max-width:1500px) { .coffeebar {background-color:rgb(217, 133, 85, 1);
}

footer{background-color:rgb(217, 133, 85, 1);
}}
  